@import "../../../common.scss";

.watch {
  > .title {
    color: #f0f0f0;
    font-size: 0.95rem;
    padding-bottom: 0.5rem;
  }

  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    > li {
      cursor: pointer;
      line-height: 0;
      width: 2rem;
      margin: 0 3px 3px 0;
      position: relative;
      background-color: #713bda;

      > img {
        width: 100%;

        &.checked {
          opacity: 0.5;
        }
      }
    }
  }
}
