@import "../../common.scss";

.items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  > li {
    background-color: #f0f0f0;
    width: 20%;
    position: relative;

    @include tablet {
      width: 25%;
    }

    @include mobile {
      width: 33%;
    }

    > a {
      > .image {
        z-index: 10;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 30vh;
        box-shadow: inset 0px -50px 60px 0px #000000b0;

        @include tablet {
          height: 25vh;
        }

        @include mobile {
        }

        > .highScore {
          background-color: #fdba00;
          color: #fff;
          position: absolute;
          z-index: 15;
          padding: 0.5rem 1rem;
          text-shadow: 2px 2px 5px #5b5858;
          right: 0;
          top: 0;
          border-bottom-left-radius: 10px;
        }

        > .notImg {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 90%;
        }

        > img {
          position: absolute;
          width: auto;
          height: 35vw;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      > .simpleInfo {
        position: absolute;
        box-shadow: inset 0px -50px 60px 0px #000000b0;
        z-index: 20;
        padding: $normalPadding;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .title {
          color: #f0f0f0;
          font-size: 1rem;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        > .score {
          color: #f0f0f0;
          font-size: 1.125rem;
          font-weight: bold;
        }
      }
    }
  }
}
