// break resize
$breakpoint-mobile: 740px; // mobile
$breakpoint-tablet: 1280px; // tablet

// padding,margin ins
$normalPadding: 20px;

// color ins
$pointColor-purple: #713bda;

@mixin backgroundCenter {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin container {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

@mixin limiter {
  width: 100%;
  max-width: $breakpoint-tablet;
  padding: 0 1rem;
  box-sizing: border-box;
}

@mixin textInput {
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: #111;
  border: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// responsive size
@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}
